In [3]:
import datetime
from peewee import *
import random
import string

db = MySQLDatabase(
    'test_one',
    host='121.5.111.160',
    user='root',
    passwd='wojiaoWanHao123',
)


class User(Model):
    username = CharField(unique=True)
    age = IntegerField(default=18, null=False,verbose_name= "年龄")
    sex = BooleanField(default=18,null=False,verbose_name="性别")
    class Meta:
        database = db


class Tweet(Model):
    user = ForeignKeyField(User, backref='tweets')
    message = TextField()
    create_date = DateTimeField(default=datetime.datetime.now)
    is_published = BooleanField(default=True)

    class Meta:
        database = db

db.connect()
db.create_tables([User, Tweet])

In [4]:
users = User.get(User.id % 3 == 0)
sql = users.delete_instance()

#sql.execute()

In [22]:
query = User.select().select(fn.MAX(User.age))


for user in query.dicts():
    print(user)

query
#query.sql()

{'age': 19}